<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<ul class="navbar">
    <li><a href="/">Home</a></li>
    <li><a class="active" href="/main">Message</a></li>
    <li><a href="/user">User list</a></li>
    <li style="float:right"><a href="/user/profile">Profile</a></li>
</ul>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<form th:method="POST" th:action="@{/main}" th:object="${message}" enctype="multipart/form-data">
    <input type="text" th:field="*{text}" placeholder="Text"/>
    <div style="color:red" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Text Error</div>
    <br/>
    <input type="text" th:field="*{tag}" placeholder="Tag"/>
    <div style="color:red" th:if="${#fields.hasErrors('tag')}" th:errors="*{tag}">Age Error</div>
    <br/>
    <input type="file" th:name="file" placeholder="File"/>
    <br/>
    <input type="submit" value="Create!"/> <input type="reset" value="Reset">
</form>

<br>

<div>Messages</div>
<form th:action="@{/main}" method="get">
    <p><input type="text" name="filter" th:value="${filter}" placeholder="Filter"/></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

<table>
    <thead>
    <tr>
        <th> Text </th>
        <th> Tag </th>
        <th> Author </th>
        <th> Img </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${messages.empty}">
        <td colspan="4"> No Books Available </td>
    </tr>
    <tr th:each="message : ${messages}">
        <td><span th:text="${message.text}"> Text </span></td>
        <td><span th:text="${message.tag}"> Tag </span> </td>
        <td><span th:text="${message.authorName}"> Author </span></td>
       <div>
           <td th:if="${message.fileName}"><img th:src="@{/img/{fileName}(fileName=${message.fileName})}"></td>
       </div>
    </tr>
    </tbody>
</table>
</body>
</html>