<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body>
Add new user

<p th:text="${message}"></p>

<form th:action="@{/registration}" method="post" th:object="${user}">
    <input type="text" th:field="*{userName}" placeholder="UserName"/>
    <div style="color:red" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">UserName Error</div>
    <input type="password" th:field="*{password}" placeholder="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
    <input type="email" th:field="*{email}" placeholder="Email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    <div>
        <div class="g-recaptcha" data-sitekey="6LdDFqocAAAAAFvVCJSb9FVSJx-I_pxOUOwguNPh"></div>
    </div>
    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>