<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<ul class="navbar">
    <li><a href="#">Home</a></li>
    <li><a href="/main">Message</a></li>
    <li><a class="active" href="/user">User list</a></li>
    <li style="float:right"><a href="/user/profile">Profile</a></li>
</ul>

<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> Role </th>
        <th>  </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td><span th:text="${user.userName}"> userName </span></td>
        <td><span th:each="role : ${user.roles}" th:text="${role + '  '}"> Role </span> </td>
        <td><a th:href="@{/user/{id}(id=${user.id})}">Edit</a> </td>
    </tr>
    </tbody>
</table>
</body>
</html>